/vendor/
/node_modules/
.env
.venv/
.vscode/
.phpunit.cache/
.DS_Store
Thumbs.db
*.log
/uploads/*
!/uploads/.gitkeep
!/uploads/.htaccess
!/uploads/assets/
!/uploads/assets/cas.png
!/uploads/assets/cj.jpg
!/uploads/assets/eunice.png
!/uploads/assets/involve.png
!/uploads/assets/involvelogo dark.png
!/uploads/assets/involvelogo light.png
!/uploads/assets/involvemobdark.png
!/uploads/assets/involvemoblight.png
!/uploads/assets/jm.png
!/uploads/assets/josh.png
!/uploads/assets/logodark.png
!/uploads/assets/logolight.png
!/uploads/assets/pdftemplate.png
!/uploads/assets/kldbuilding.jpg
!/uploads/assets/.htaccess
!/uploads/users/
/uploads/users/*
!/uploads/users/.gitkeep
!/uploads/users/.htaccess
!/uploads/organizations/
/uploads/organizations/*
!/uploads/organizations/.gitkeep
!/uploads/organizations/.htaccess
!/uploads/receipts/
/uploads/receipts/*
!/uploads/receipts/.htaccess
